#mainNav a.active {
  border: solid 1px rgb(1, 169, 1);
  background: transparent;
  color: black;
  /* background-color: rgb(1, 169, 1);
  color: white; */
}

#mainNav a.active:hover {
  background-color: rgb(1, 169, 1);
  color: white;
}
